{
  "env": {
    "development": {
      "plugins": [
        "transform-runtime",
      ],
      "presets": ["es2015", "stage-0", "react"]
    },
    "production": {
      "plugins": [
        "transform-runtime",
      ],
      "presets": ["es2015", "stage-0", "react"]
    },
  }
}
