{
  "env": {
    "development": {
      "plugins": [
        "transform-runtime",
        ['import', {
          libraryName: 'antd',
          style: 'css',
        }],
      ],
      "presets": ["es2015", "stage-0", "react"]
    },
    "production": {
      "plugins": [
        "transform-runtime",
      ],
      "presets": ["es2015", "stage-0", "react"]
    },
  }
}