// color palettes
$blue-500: #2196F3;

$light-blue-100: #B3E5FC;
$light-blue-500: #03A9F4;

$deep-pruple-500: #673AB7;

$light-green-500: #8BC34A;
$light-green-600: #7CB342;
$light-green-700: #689F38;
$light-green-800: #558B2F;

$green-500: #4CAF50;

$grey-200: #EEEEEE;

$orange-500: #FF9800;
$orange-50: #FFF3E0;

$teal-50: #E0F2F1;

$brown-300: #A1887F;
$brown-400: #8D6E63;
$brown-500: #795548;
$brown-600: #6D4C41;
$brown-700: #5D4037;
$brown-800: #4E342E;
$brown-900: #3E2723;