.itemLayout {
  display: flex;

  > span {
    padding: 8px 16px;
    line-height: 24px;
    &:nth-child(1) {
      width: 120px;
      display: flex;
      > svg {
        fill: red;
      }
    }
    &:nth-child(2) {
      width: 200px;
    }
    &:nth-child(3) {
      width: 350px;
    }
    &:nth-child(4) {
      width: 280px;
    }
  }
}

.LogItem {
  composes: itemLayout;
  /* align-items: stretch; */
  border-bottom: 1px solid;
  font-size: 14px;
  cursor: pointer;

  &:hover {
    background: #FFF3E0;
  }
}


.statusRed {
  &:before {
    display: inline-block;
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fe5454;
    margin: 0  8px;
  }
  > span {
    color: #fe5454;

  }
}

.typeItem {
  display: flex;
  margin: 8px 0;
  > span {
    &:nth-child(1) {
      color: #848484;
    }
    width: 50%;
    padding: 0 8px;
  }
}

.deviceItem {
  display: flex;
  margin: 8px 0;
  > span {
    display: inline-block;
    &:nth-child(1) {
      color: #848484;
      width: 100px;
      flex: 0 0 auto;
    }
    padding: 0 8px;
  }
}

.rawItem {
  display: flex;
  margin: 8px 0;
  > span {
    padding: 0 8px;
    &:nth-child(1) {
      color: #848484;
      width: 100px;
      flex: 0 0 auto;
    }
    
    > div:nth-child(1) {  
      color: #327cb2;
      cursor: pointer;
    }
  } 
}

.detail {
  word-break: break-all;
}